@using Microsoft.Ajax.Utilities
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/bootstrap/base")
        @Styles.Render("~/Content/css")
        @RenderSection("Styles", required: false)
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="wrap">
            <div id="main" class="clearfix">
                <header>
                    <div class="container">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="navbar-collapse">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="@Url.Action("About", "Home")">Emulator</a>
                                </div>
                                <ul class="nav navbar-nav">
                                    <li class="@("Управление".Equals(ViewBag.Title) ? "active": "")">
                                        <a href="@Url.Action("Control", "Emulator")">Управление</a>
                                    </li>
                                    <li class="@("Скважины".Equals(ViewBag.Title) ? "active": "")">
                                        <a href="@Url.Action("Wells", "Emulator")">Скважины</a>
                                    </li>
                                    <li class="@("Новый тег".Equals(ViewBag.Title) ? "active": "")">
                                        <a href="@Url.Action("NewTag", "Emulator")">Добавление тега</a>
                                    </li>
                                    <li class="@("Теги".Equals(ViewBag.Title) ? "active": "")">
                                        <a href="@Url.Action("Tags", "Emulator")">Список тегов</a>
                                    </li>
                                </ul>
                                @*<ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-play"></span>
                                            Запустить
                                        </button>
                                        <button type="button" class="btn btn-default">
                                            <span class="glyphicon glyphicon-stop"></span>
                                            Остановить
                                        </button>
                                    </li>
                                </ul>*@
                            </div>
                        </nav>
                    </div>
                </header>

                <div id="page-content" class="container">
                    <div class="page-header">
                        <h1>@ViewBag.Title<small>&ensp;@ViewBag.SubTitle</small></h1>
                    </div>

                    @RenderBody()

                </div>
            </div>   
        </div>
        <div id="footer">
            <footer>
                <div class="container footer-line"></div>
                Tomsk Polytechnic University - @DateTime.Now.Year
            </footer>
        </div>
       
        <div class="modal fade" id="wait-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Запрос выполняется</h4>
                    </div>
                    <div class="modal-body">
                        <span>Пожалуйста подождите...</span>
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Scripts", required: false)
        
        
        <script>
            //$(document).ready(function () {
            //    $(".navbar-nav > li:has(a)").click(function () {
            //        $(".navbar-nav > li.active").removeClass("active");
            //        $(this).addClass("active");
            //    });
            //});
        </script>
    </body>
</html>
